@import "tailwindcss";

@font-face {
  font-family: 'smiley-sans';
  src: url('/fonts/SmileySans-Oblique.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.font-smiley {
  font-family: 'smiley-sans', sans-serif;
}

:root {
  --font-geist: var(--font-geist);
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
